<?xml version="1.0" encoding="UTF-8"?>
<wps:Execute service="WPS" version="1.0.0"
    xmlns:wps="http://www.opengis.net/wps/1.0.0"
    xmlns:ows="http://www.opengis.net/ows/1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.opengis.net/wps/1.0.0 http://geoserver.itc.nl:8080/wps/schemas/wps/1.0.0/wpsExecute_request.xsd">
  <ows:Identifier>tikouka.nl.wps.algorithm.SoilErosionAlgorithm</ows:Identifier>
  <wps:DataInputs>
    <wps:Input>
      <ows:Identifier>nz_woody</ows:Identifier>
      <wps:Reference mimeType="image/tiff" xlink:href="${params.landcoverWcs}" xmlns:xlink="http://www.w3.org/1999/xlink" />
    </wps:Input>
    <wps:Input>
      <ows:Identifier>nz_r2</ows:Identifier>
      <wps:Reference mimeType="image/tiff" xlink:href="${params.rainfallWcs}" xmlns:xlink="http://www.w3.org/1999/xlink" />
    </wps:Input>
    <wps:Input>
      <ows:Identifier>nz_ak2</ows:Identifier>
      <wps:Reference mimeType="image/tiff" xlink:href="${params.erosionWcs}" xmlns:xlink="http://www.w3.org/1999/xlink" />
    </wps:Input>
    <wps:Input>
      <ows:Identifier>nz_woody_lookup</ows:Identifier>
      <wps:Data>
        <wps:ComplexData schema="http://dlib-bauer.ucs.ed.ac.uk/RasterTable.xsd">
          <RasterTable name="nz_woody_lookup">
            <Table id="0" key="Undefined" value="0"/>
            <Table id="1" key="Water" value="0"/>
            <Table id="2" key="Bare Ground" value="10"/>
            <Table id="3" key="Woody" value="1"/>
            <Table id="4" key="Herbaceous" value="10"/>
            <Table id="6" key="Primarily Bare" value="10"/>
            <Table id="7" key="Snow" value="10"/>
            <Table id="10" key="Herbaceous" value="10" />
            <Table id="128" key="Undefined" value="0" />
          </RasterTable>
        </wps:ComplexData>
      </wps:Data>
    </wps:Input>
    <wps:Input>
      <ows:Identifier xmlns:ns1="http://www.opengis.net/ows/1.1">rain_factor</ows:Identifier>
      <wps:Data>
        <wps:LiteralData dataType="xs:double">${params.rainfallExponent}</wps:LiteralData>
      </wps:Data>
    </wps:Input>
  </wps:DataInputs>
  <wps:ResponseForm>
    <wps:ResponseDocument>
      <wps:Output asReference="true">
        <ows:Identifier xmlns="http://www.opengis.net/ows/1.1">result</ows:Identifier>
        <wps:Reference mimeType="image/tiff"/>
      </wps:Output>
    </wps:ResponseDocument>
  </wps:ResponseForm>
</wps:Execute>