#map {
  width: auto;
  height: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 325px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

#tools {
  width: 300px;
}

fieldset {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

#process {
  text-align: center;
}

#widget_rainfallExponent,
#widget_growFactor,
#widget_streamConnectivity {
  width: 50px;
  margin: 5px;
}

#contentList,
#legendList,
#variablesList,
#coveragesList {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

#legendList img {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.legendTitle {
  font-size: small;
  font-weight: bold;
  clear: both;
  padding-top: 5px;
}

.legendImage {
  text-align: center;
  font-size: x-small;
}

.legendTextLeft {
  font-size: x-small;
  float: left;
}
.legendTextRight {
  font-size: x-small;
  float: right;
}

input {
  text-align: right;
}

#variables label {
  float: left;
  width: 55%;
  text-align: right;
  font-size: small;
  margin: 5px;
}

#preview {
  text-align: center;
}

.units {
  font-size: x-small;
}

.dojoBlockOverlay {
  background: url(../images/loading.gif) no-repeat center center;
  background-color: #E4E4E4 !important;
}
