#map {
  width: auto;
  height: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 300px;
}

#tools {
  width: 300px;
}

fieldset {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

#process {
  text-align: center;
}

#widget_rainfallExponent,
#widget_growFactor,
#widget_streamConnectivity {
  width: 50px;
}
