MAP
  NAME "gefc_result"

  IMAGECOLOR 255 255 255
  STATUS ON
  EXTENT 0.0 0.0 700000.0 1300000.0

  SIZE 300 300
  SHAPEPATH "indexes"

  UNITS METERS
  PROJECTION
    "init=epsg:27700"
  END

  WEB
    METADATA
      "wms_title" "Gefc Soil Erosion Result for ${user}"
      "wms_contactperson" "EDINA Helpdesk"
      "wms_contactorganization" "EDINA"
      "wms_contactvoicetelephone" "0131 650 3302"
      "wms_contactfacsimiletelephone" "0131 650 3308"
      "wms_contactelectronicmailaddress" "edina@ed.ac.uk"
      "wms_onlineresource" "${resultUrl}map=${dataFolder}${user}/result.map&"
      "wms_srs" "EPSG:27700 EPSG:4326 EPSG:900913"
    END
  END

LAYER
  NAME "result"
  TOLERANCE 1
  TOLERANCEUNITS pixels
  PROCESSING "BANDS=1"
  PROCESSING "SCALE=1,1000000"

  METADATA
    "wms_title" "Gefc Result"
    "wms_srs"   "EPSG:27700 EPSG:4326 EPSG:900913"
    "wms_extent" "0.0 0.0 700000.0 1300000.0"
  END

  DATA "${dataFolder}${user}/result.tiff"
  STATUS OFF
  TYPE RASTER
  #OFFSITE 0 0 0
  CLASS
    NAME "Safe Erosion"
    EXPRESSION ([pixel] > 0 AND [pixel] < 200)
    STYLE
      COLORRANGE 255 255 115 181 0 0
      DATARANGE 1 200
      RANGEITEM "[pixel]"
    END
  END
  CLASS
    NAME "Danger Erosion"
    EXPRESSION ([pixel] >= 200)
    STYLE
      COLORRANGE 181 0 0 255 0 0
      DATARANGE 200 1000
      RANGEITEM "[pixel]"
    END
  END

  MINSCALE 100.0
  MAXSCALE 1000000000.0
  PROJECTION
    "init=epsg:27700"
  END
END

OUTPUTFORMAT
  NAME png
  DRIVER "GD/PNG"
  MIMETYPE "image/png"
  IMAGEMODE RGBA
  EXTENSION "png"
END

END